<h1>
  ASSIGNMENT 12 
</h1>
<h3>----------------------------------------------------------------</h3>
<div>
  <h3>1. Display Reversed string using custume Pipe </h3>
  <h3>

  {{name}} :: {{name | myRev}}

  </h3>

  <h3>----------------------------------------------------------------</h3>

<h2>2. MyAdd and MyMult</h2>

<h3> Addition of 10 and 7 is :   {{10 | myAdd : '7'}}</h3>
<h3> Multiplication of 10 and 7 is :   {{10 | myMult : 7}}</h3>

<h3>----------------------------------------------------------------</h3>

<h2> 3. Marvellous Check</h2>
<h3>  The number is 10 and {{10 | marvellousChk : 'Even'}}</h3>
<h3>  The number is {{No}} and {{No | marvellousChk : 'Even'}}</h3>
<h3>  The number is {{No}} and {{No | marvellousChk : 'Odd'}}</h3>
<h3>  The number is {{No}} and {{No | marvellousChk : 'Perfect'}}</h3>
<h3>  The number is {{No}} and {{No | marvellousChk : 'Prime'}}</h3>

<h3>----------------------------------------------------------------</h3>


</div>
